@import "../sass/vendors/mixins";
@import "../sass/vendors/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: $body-bg;
  width: 100%;
  height: 100%;
  @include flexCenter;
  height: 100vh;
}
.container {
  width: 70%;
  height: 80vh;
  display: flex;
  justify-content: center;
}
nav {
  width: 30%;
  height: 100%;
  background-color: $side-bar;
  padding: $padding;
  ul {
    li {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      :first-child {
        color: $white;
        width: 20px;
        height: 20px;
        @include flexCenter;
        background-color: $grey;
        font-size: 15px;
        border-radius: 50%;
        padding: 15px;
      }
      :nth-child(2) {
        color: $grey;
      }
    }
    :first-child {
      cursor: pointer;
      :first-child {
        background-color: $green;
      }
      :nth-child(2) {
        color: $green;
        cursor: pointer;
      }
    }
    :nth-child(2),
    :nth-child(3),
    :nth-child(4) {
      cursor: not-allowed;
      :nth-child(1) {
        cursor: not-allowed;
      }
    }
  }
}
.header {
  background: $main-bg;
  width: 70%;
  height: 100%;
  padding: $padding;
  h3 {
    border-bottom: 1px solid $lightgray;
    padding-bottom: 20px;
  }
}

.staff-section,
.service-section {
  position: relative;
  .staff,
  .service {
    padding-top: 10px;
    .card {
      margin-top: 10px;
      cursor: pointer;
      @include flexBetween;
      gap: 10px;
      padding: 6px;
      background-color: $white;
      .inner {
        display: flex;
        gap: 10px;
      }
      .price {
        color: $green;
        text-overflow: 400;
        font-size: 18px;
      }
      .left {
        display: flex;
        gap: 10px;
      }
      img {
        border-radius: 50%;
      }
      .staff-info,
      .service-info {
        h4 {
          font-weight: 400;
        }
        span {
          color: $grey;
          font-size: 13px;
        }
      }
    }
  }
  .staff-btn {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: 40%;
    border-top: 1px solid $lightgray;
    padding-top: 10px;
    button {
      display: flex;
      justify-content: flex-end;
      align-items: end;
      color: $white;
      background-color: $body-bg;
      border: none;
    }
  }
  .staff-toast,
  .service-toast,
  .date-toast {
    background-color: #f4be6c;
    color: $white;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    display: none;
    transition: opacity 0.3s ease;
  }
}
.service-section {
  display: none;
  .buttons {
    margin-top: 40%;
  }
}

button {
  cursor: pointer;
  border-radius: 2px;
  padding: $btn-padding;
}
.buttons {
  @include flexBetween;
  border-top: 1px solid $lightgray;
  padding-top: 10px;
  :first-child {
    border: 1px solid $side-bar;
  }
  :nth-child(2) {
    border: none;
    background-color: $body-bg;
    color: $white;
  }
}
.date-section {
  display: none;
  .date {
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    .calendar {
      table {
        width: 50%;
        border-collapse: collapse;
        background-color: $white;
        height: 100%;
        caption {
          margin-bottom: 10px;
          span {
            cursor: pointer;
            font-size: 18px;
          }
        }
        thead {
          padding: 10px;
          text-align: center;
          tr {
            border-bottom: 1px solid $lightgray;
            padding-bottom: 20px;
            th {
              color: $lightgray;
              font-weight: 400;
            }
          }
        }
        th,
        td {
          padding: 10px;
          text-align: center;
        }
        td {
          cursor: pointer;
          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
    .time {
      text-align: center;
      width: 50%;
      h4 {
        text-align: center;
        font-weight: 400;
        margin-bottom: 12px;
      }
      .card {
        background-color: $white;
        padding: 10px;
        height: 100%;
        h4 {
          color: $body-bg;
          border-bottom: 1px solid $lightgray;
          padding-bottom: 10px;
        }
        .times {
          @include flexEvenly;
          margin-top: 30px;
          .range {
            @include flexCenter;
            flex-direction: column;
            background-color: $lightgray;
            padding: $padding;
            cursor: pointer;
          }
        }
      }
    }
  }
  .buttons {
    margin-top: 14%;
  }
}
.confirm-section {
  display: none;
  .buttons {
    margin-top: 12%;
  }
  .details {
    margin-top: 6%;
    form {
      width: 100%;
      .top,
      .bottom {
        display: flex;
        gap: 20px;
        margin-bottom: 15px;
      }
      input {
        min-width: 340px;
        border: 1px solid $lightgray;
        border-radius: 2px;
        background-color: $white;
        outline: none;
        padding: 10px 8px;
      }
      .inp {
        display: flex;
        flex-direction: column;
      }
    }
    .selected-details {
      background-color: $white;
      border: 1px solid $lightgray;
      border-radius: 2px;
      padding: $padding;
      .selected {
        margin-bottom: 5px;
        :first-child {
          color: $body-bg;
        }
      }
      .total {
        :nth-child(2) {
          color: $green;
          font-weight: 400;
        }
      }
    }
  }
}
